<a href="https://colab.research.google.com/github/lenn-dev/python/blob/main/python_basic_%ED%98%81%ED%8E%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
print("Hello Wolrd")
# ctrl +enter 현재 셀 실행
# 주석처리
# ctrl + / 로 셀처리 토글
# shift + enter 실행하고 다음셀로 넘어감
# alt + enter 실행하고 밑에 셀을 새로 생성
# esc 하고 방향키 위아래로 셀 왔다갔다  엔터치면 다시 코드 작성
# esc + 이 모드에서 a하면 위에 셀 b는 아래셀 생성
# ctrl + m, d하면 셀 삭제 z 하면 셀 수준 실행 취소 ctrl+shift+y는 셀 수준 다시 실행
# ctrl + z, ctrl+shift+z, ctrl+c, ctrl+v

Hello Wolrd

In [48]:
5%2 # 모듈러 연산

1

In [49]:
print(0b11) # 0b는 2진수
print(0xA) # 0x는 16진수
# print를 붙이지 않으면 마지막 열만 출력해서 다 print 해줌

3
10

In [50]:
# del a #변수 삭제

## 리스트

In [51]:
# 리스트
a=[]
a.append(3)
a += [1]  #.append와 같은 역할
a += ["ㅋㅎㅎ"]
a += [2]
print(a)

[3, 1, 'ㅋㅎㅎ', 2]

In [52]:
# 실전 예: 딥러닝에서 현재 계산된 loss값을 update 해나갈때 추이를 보고 싶을 때
loss_history=[]
loss =1
loss_history +=[loss]#loss_history.append(loss)
loss =0.5
loss_history +=[loss]
loss =0.1
loss_history +=[loss]
print(loss_history)

[1, 0.5, 0.1]

## Range

In [53]:
# range 반복문 친구
range(10) # range(0, 10)
list(range(10)) #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 숫자 나열 보고 싶으면 range를 list로 바꿔줌

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
b=list(range(1,11)) # 1부터 시작 11 미만
print(b)
c=list(range(1,11,2)) # 1부터 시작 11 미만 2간격
print(c)
print(list(range(10,0,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플

In [55]:
# 튜플
a =(1,"a",3)
b=[1,2,3]
print(type(a))
print(type(b))

b=tuple(range(10))
print(b)

<class 'tuple'>
<class 'list'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [56]:
a= list(range(10))
b= tuple(range(10))
c= tuple(a)
d= list(b)
print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
#in 있냐?
a=list(range(10))
b=tuple(range(10))
c=(range(10))
print(1 in a)
print(15 in a)
print(1 not in b)
print(15 in b)
print(5 in c)

True
False
False
False
True

In [58]:
s="Hello"
print("h" in s)
print("H" in s)

False
True

## 리스트 기본연산과 인덱싱

In [59]:
# 리스트 기본 연산과 인덱싱
a =[1,2,3]
b=a+a
c=a*3
d=a*(12//4) #d=a*(12/4) 는 3.0 이므로 에러
d=a*int(12/4)
print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
# len 길이
a=[1,2,3]
print(len(a))
s="hello" # 문자열이 들어오면 문자의 갯수
s2=["hello"] # 리스트가 들어오면 리스트 항목의 갯수
print(len(s))
print(len(s2))

3
5
1

## 인덱싱

In [61]:
# 인덱싱
a=[1,2,3]
print(a[0])
print(a[-1]) # 마지막 원소
print(a[-1],a[-2],a[-3])

r=range(1,10,2)
print(r[0],r[1],r[2])

1
3
3 2 1
1 3 5

In [62]:
# 인덱싱으로 원소값 바꿔주기
# 리스트만 가능하고 튜플은 불가능
a=[1,2,3]
a[0] = 3
a[1] = 6
a[2] = 9
print(a)

# a=(1,2,3)
# a[0]=1 #immutable

[3, 6, 9]

In [63]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

## 슬라이스

In [64]:
# 굉장히 많이 쓰는 슬라이스
a =[1,2,3,4,5,6,7,8,9,10]
b=a[0:3] #0부터 3미만번째
print(b)

print(a[1:3]) #1부터 3미만
print(a[3:-1]) #마지막원소 -1 미만까지
print(a[1:7:2]) #1부터 7미만 2간격
print(a[:5]) # 0(디폴트)~ 5미만 첫번째 비우면 처음것부터
print(a[5:]) # 두번째 자리 비우면 마지막(포함)까지
print(a[:]) # 처음부터 끝까지
print(a[:7:2]) # 처음부터 7미만까지 2간격
print(a[7::2]) # 7부터 끝까지 2간격
print(a[::2])# 처음부터 끝까지 2간격
print(a[::]) # 처음부터 끝까지 1간격 a(:)과 동일
b=[[1,2],[3,4]] # 리스트 안의 리스트도 적용됨
print(b[::])
print(b[:])

[1, 2, 3]
[2, 3]
[4, 5, 6, 7, 8, 9]
[2, 4, 6]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7]
[8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [65]:
a=[1,2,3,4,5]
del a[1:3]
print(a)

[1, 4, 5]

## 딕셔너리

In [66]:
# 딕셔너리
dic1 ={"a":1,"b":2,"c":3} # 중괄호로 표현, 콜론: 이 들어감
# 키와 값의 쌍 (키:값)으로 표현, (숫자,문자 모두 가능)
# 키: 수정못함, 튜플 가능, 리스트 불가능
# 값: 튜플, 리스트 가능
print(dic1)
print(dic1["a"]) # 키를 통한 인덱싱을 통해 값을 확인
print(dic1["b"])
print(dic1["c"])

print(len(dic1)) # 딕셔너리 길이: 키를 기준으로 세거나, 쌍으로 세거나.
print(dic1.keys()) # 키만 확인
print(dic1.values()) # 값(valu)만 확인
print(dic1.items()) # 쌍을 확인

{'a': 1, 'b': 2, 'c': 3}
1
2
3
3
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

## 지퍼를 이용해 딕셔너리로 바꾸기

In [67]:
#지퍼를 이용해 키와 값을 따로 리스트로 나열해서 딕셔너리로 바꿀 수 있음
print(list(zip(["a","b","c"],[1,2,3])))
# 잘 모르겠을 때 리스트로 바꿔보면 튜플로 묶여있음
a = zip(["a","b","c"],[1,2,3])
print(dict(a))
# 튜플로 묶여있는 a를 딕셔너리로 바꿈.

[('a', 1), ('b', 2), ('c', 3)]
{'a': 1, 'b': 2, 'c': 3}

In [68]:
dic2 = {'a': 1, 'b': 2, 'c': 3, 'd':4}
dic2['a']=100; dic2['b']=200; dic2['c']=300; dic2['d']=400;
print(dic2)
dic2['e'] ='새로운 키와 밸류'
print(dic2)
print("a" in dic2)
print(100 in dic2) # 키를 기준으로 찾으므로 False

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': '새로운 키와 밸류'}
True
False

## 조건문

In [69]:
#조건문
a=5
print(a>3)
print(a<3)
print(a==5)

# 들여쓰기 tab
# 들여쓰기 되돌리기 shift+tab

print(bool(0))
print(bool("hello"))
print(bool(""))

True
False
True
False
True
False

## 반복문

In [70]:
# 반복문

for i in range(10,0,-1):
    print(i)

for i in reversed(range(10)):
    print(i)

# 모르겠을 때 리스트로 바꿔서 보기
list(reversed(range(10)))

# 리스트에 대해서 반복문 실행도 가능
a=[10,20,30,40,50]
for i in a:
    print(i)

# 보통 이런식으로 해서 쓰는데 이건 파이썬스럽지 않음
for i in range(len(a)):
    print(a[i])

10
9
8
7
6
5
4
3
2
1
9
8
7
6
5
4
3
2
1
0
10
20
30
40
50
10
20
30
40
50

In [71]:
# 문자 리스트에 대해서도 실행 가능
a=["apple","banana","carrot","berries","melon"]
for i in a:
    print(i)

b="hello"
for i in b:
    print(i)

b="hello"
for i in b:
    print(i,end="")

apple
banana
carrot
berries
melon
h
e
l
l
o
hello

## 이중for문

In [72]:
#이중 for문
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

## while 문

In [73]:
i=0
while i<5:
    print(i)
    i +=1
print("i=",i)

0
1
2
3
4
i= 5

In [74]:
i=0
while True:
    print(i)
    i += 1
    if i==5: # 무한루프 벗어나기 위한 조건
        break

0
1
2
3
4

break 사용 (디버깅용)

In [75]:
EPOCH= 10 # 딥러닝 용어
# epoch is one complete pass through the entire training dataset
# by the neural network
for i in range(EPOCH):
    print(i)
    break # 디버깅용: 한번만 실행

#  next(iter())

0

continue 로 건너뛰기

In [77]:
for i in range(10):
    if i%2==0:
        continue # 건너뛰기
        # continue 만나면 그 밑으로는 실행하지 않고,하던 반복 마저 실행
        # 따라서 여기서는 짝수일 때는 print(i)실행없이 반복문 돌아감
    print(i)

1
3
5
7
9

In [79]:
a=0
while a<10:
    a +=1
    if a%2==0:
        continue
    print(a)

1
3
5
7
9

In [87]:
# 인덱스가 0부터 시작해서 순서가 1부터 매칭이 안되서 i+1 해줌.
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i+1,"번째에",a[i],"가 들어있어요")


j=1
for i in a:
    print(j,"번째에",i,"가 들어있어요")
    j += 1

# 1부터 인덱싱을 위한 j=1 설정하는 방법

# 파이썬에서는 이를 보완하기 위한 enumerate 이 있음

1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요
1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요

## Enumerate 인덱스와 값을 쌍으로 받고, 인덱스 시작을 1로 지정가능

In [89]:
# enumerate 은 쌍으로 받음
a=[1,2,3,4,5]
for i,val in enumerate(a):
    print(i,"번째",val,"이 들어있어요")

0 번째 1 이 들어있어요
1 번째 2 이 들어있어요
2 번째 3 이 들어있어요
3 번째 4 이 들어있어요
4 번째 5 이 들어있어요

In [90]:
# enumerate 은 인덱스와 값을 쌍으로 줌
# 인덱스 시작을 1로 지정해줄수도 있음
a=[1,2,3,4,5]
for i,val in enumerate(a,start=1):
    print(i,"번째",val,"이 들어있어요")

1 번째 1 이 들어있어요
2 번째 2 이 들어있어요
3 번째 3 이 들어있어요
4 번째 4 이 들어있어요
5 번째 5 이 들어있어요

## 별찍기 반복문 과제

In [101]:
# 별찍기
#1 내코드
for i in range(5):
    print("*"*i)

#2
a =""
for i in range(4):
    a += "*"
    print(a)

#3
for i in range(5):
    for j in range(i):
        print("*",end="")
    print()
#4
i=1
while i<5:
    print("*"*i)
    i+=1

#5
i="*"
while True:
    print(i)
    i +="*"
    if i == '*****':
        break;

#6
i="*"
while i !="*****":
    print(i)
    i += '*'

*
**
***
****
*
**
***
****

*
**
***
****
*
**
***
****
*
**
***
****
*
**
***
****

## 리스트 심화

In [102]:
# 리스트 심화
# 두개의 원소를 넣어주고 싶을 때 한개씩 밖에 안되서
# 리스트로 묶어서 넣으면 그야말로, 하나의 원소로 묶여서 들어감
a =[1,2,3]
a.append([4,5])
print(a,'len(a)',len(a))

[1, 2, 3, [4, 5]] len(a) 4

In [104]:
# extend() 쓰면, 개별 원소로 넣어주기 가능
a =[1,2,3]
a.extend([4,5])
print(a,'len(a)',len(a))

[1, 2, 3, 4, 5] len(a) 5

In [105]:
# 더 간단하게 += 리스트로 넣어주면 됨
a =[1,2,3]
a += [4,5]
print(a,'len(a)',len(a))

[1, 2, 3, 4, 5] len(a) 5

In [107]:
 #insert 중간에 넣고 싶을 때
a =[1,2,3]
a.insert(1,100)
print(a,'len(a)',len(a))

[1, 100, 2, 3] len(a) 4

In [108]:
a =[1,2,3]
a.insert(1,[100,200])
print(a,'len(a)',len(a))

[1, [100, 200], 2, 3] len(a) 4

In [114]:
 #insert() 사용하지 않고 insert하기
 a=[1,2,3]
 b=[100,200]
#  a[1:2]=b # 1의 자리에 값을 무시하고 b가 삽입
 a[1:1]=b # 이 성질 이용해 1의 자리에 값 살리고 삽입(꼼수)
 print(a)

[1, 100, 200, 2, 3]

In [117]:
# pop
# 스택처럼 맨 오른쪽 부터 하나씩 out
a=[1,2,3]
a.pop()
print(a)
a.pop()
print(a)

[1, 2]
[1]

In [118]:
# pop
# 특정 인덱스 pop
a=[1,2,3]
a.pop(1)
print(a)

[1, 3]

In [123]:
#remove 는 인덱스가 아닌 인수값을 찾아서 제거.
# 중복인 경우 왼쪽부터 제거
a=[1,2,3,4,3,5,3]
a.remove(3)
print(a)
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 4, 3, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 5]

In [125]:
# 특정값이 위치한 처음 인덱스 찾기 index()
a=[1,2,3,4,3,5,3]
a.index(3)

2

In [127]:
# 특정 값의 갯수 세기 count()
a=[1,2,3,4,3,5,3]
a.count(3)

3

In [128]:
# 원소 순서 뒤집기 reverse()
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [130]:
# 정렬 sort
# 오름차순
a=[1,5,1,2,6,1,7]
a.sort()
print(a)

# 내림차순
a.sort(reverse=True)
print(a)

[1, 1, 1, 2, 5, 6, 7]
[7, 6, 5, 2, 1, 1, 1]

In [131]:
# 리스트 내용 모두 제거하기
# del은 정의 자체를 지움
a=[1,2,3]
a.clear()
print(a)

[]

In [138]:
# b[1]값만 바꾸고 싶은데 b=a 로 인해 a[1]도 바뀜
a=[1,2,3]
b=a
b[1]=10
print("a=",a,"b=",b)
# b가 a 주소값 같이 씀 동일함
a is b

a= [1, 10, 3] b= [1, 10, 3]

True

In [139]:
# copy()를 이용해 정의해야 b만 바뀜
a=[1,2,3]
b=a.copy()
b[1]=10
print("a=",a,"b=",b)
# b가 a의 값만 복사하고 주소 다름
a is b

a= [1, 2, 3] b= [1, 10, 3]

False

In [141]:
a=[1,2,3]
print(min(a))
print(max(a))
print(sum(a))
print(round(1.53423423,3))# 소수점 셋째자리까지 반올림

1
3
6
1.534

## 리스트 표현식: 코드 깔끔해짐

In [144]:
#range(5) 안의 값들을 i라는 이름으로 불러오고
# i 값으로 리스트를 만들어줌
a=[i for i in range(5)]
print(a)

# 아래 코드를 보면 계산된 i+5 값들이 쌓이는 걸 알 수 있음
a=[i+5 for i in range(5)]
print(a)

# 리스트는 쌓는것이므로 각각의 원소에 연산을 원하면 리스트 표현식 사용하면됨
[1,2,3,4,5]+[5]

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 5]

In [148]:
# 리스트 표현식 이중for문도 가능함
a = [i-j for i in range(1,5)
            for j in range(1,5)]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [149]:
# 위의 이중반복문 표현식이 기본 for문으로 표현하면 아래와 같음
a=[]
for i in range(1,5):
    for j in range(1,5):
        a += [i-j]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [151]:
# 표현식에 for, if문 같이 쓰기
# 짝수일 경우만 출력
a=[i for i in range(10) if i%2==0]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
# 아래 4줄의 코드를 위의 표현식 한줄로 간단히 표현함
a=[i]
for i in range(10):
    if i%2 ==0
     a += [i]
print(a)

##리스트 속에 리스트

In [155]:
# 리스트 안의 리스트로 하나의 요소로 묶어서 생각
a=[[1,2,3],[4,5,6]]
print(a,"len(a)=", len(a))

# 따라서 인덱싱도 마찬가지
print(a[0])
print(a[1])
print(a[0][0])
print(a[0][1])
print(a[0][2])
print(a[1][0])

a[1][1] =500
print(a)

[[1, 2, 3], [4, 5, 6]] len(a)= 2
[1, 2, 3]
[4, 5, 6]
1
2
3
4
[[1, 2, 3], [4, 500, 6]]

In [162]:
# 이중 리스트에 for문 돌릴때 출력
a=[[1,2,3],[4,5,6]]
for i in a:
    print(i)
print()

# 리스트를 분해해서 나열하고 싶을 때
#1
for i in a:
    for j in i:
        print(j,end=" ")
    print()
print()

#2 복수개를 받아서 출력
for x,y,z in a:
    print(x,y,z)
print()

#3

[1, 2, 3]
[4, 5, 6]
1 2 3
4 5 6
1 2 3
4 5 6