<a href="https://colab.research.google.com/github/lenn-dev/python/blob/main/python_basic_%ED%98%81%ED%8E%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
print("Hello Wolrd")
# ctrl +enter 현재 셀 실행
# 주석처리
# ctrl + / 로 셀처리 토글
# shift + enter 실행하고 다음셀로 넘어감
# alt + enter 실행하고 밑에 셀을 새로 생성
# esc 하고 방향키 위아래로 셀 왔다갔다  엔터치면 다시 코드 작성
# esc + 이 모드에서 a하면 위에 셀 b는 아래셀 생성
# ctrl + m, d하면 셀 삭제 z 하면 셀 수준 실행 취소 ctrl+shift+y는 셀 수준 다시 실행
# ctrl + z, ctrl+shift+z, ctrl+c, ctrl+v

Hello Wolrd

In [48]:
5%2 # 모듈러 연산

1

In [49]:
print(0b11) # 0b는 2진수
print(0xA) # 0x는 16진수
# print를 붙이지 않으면 마지막 열만 출력해서 다 print 해줌

3
10

In [50]:
# del a #변수 삭제

## 리스트

In [51]:
# 리스트
a=[]
a.append(3)
a += [1]  #.append와 같은 역할
a += ["ㅋㅎㅎ"]
a += [2]
print(a)

[3, 1, 'ㅋㅎㅎ', 2]

In [52]:
# 실전 예: 딥러닝에서 현재 계산된 loss값을 update 해나갈때 추이를 보고 싶을 때
loss_history=[]
loss =1
loss_history +=[loss]#loss_history.append(loss)
loss =0.5
loss_history +=[loss]
loss =0.1
loss_history +=[loss]
print(loss_history)

[1, 0.5, 0.1]

## Range

In [53]:
# range 반복문 친구
range(10) # range(0, 10)
list(range(10)) #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 숫자 나열 보고 싶으면 range를 list로 바꿔줌

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
b=list(range(1,11)) # 1부터 시작 11 미만
print(b)
c=list(range(1,11,2)) # 1부터 시작 11 미만 2간격
print(c)
print(list(range(10,0,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플

In [55]:
# 튜플
a =(1,"a",3)
b=[1,2,3]
print(type(a))
print(type(b))

b=tuple(range(10))
print(b)

<class 'tuple'>
<class 'list'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [56]:
a= list(range(10))
b= tuple(range(10))
c= tuple(a)
d= list(b)
print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
#in 있냐?
a=list(range(10))
b=tuple(range(10))
c=(range(10))
print(1 in a)
print(15 in a)
print(1 not in b)
print(15 in b)
print(5 in c)

True
False
False
False
True

In [58]:
s="Hello"
print("h" in s)
print("H" in s)

False
True

## 리스트 기본연산과 인덱싱

In [59]:
# 리스트 기본 연산과 인덱싱
a =[1,2,3]
b=a+a
c=a*3
d=a*(12//4) #d=a*(12/4) 는 3.0 이므로 에러
d=a*int(12/4)
print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
# len 길이
a=[1,2,3]
print(len(a))
s="hello" # 문자열이 들어오면 문자의 갯수
s2=["hello"] # 리스트가 들어오면 리스트 항목의 갯수
print(len(s))
print(len(s2))

3
5
1

## 인덱싱

In [61]:
# 인덱싱
a=[1,2,3]
print(a[0])
print(a[-1]) # 마지막 원소
print(a[-1],a[-2],a[-3])

r=range(1,10,2)
print(r[0],r[1],r[2])

1
3
3 2 1
1 3 5

In [62]:
# 인덱싱으로 원소값 바꿔주기
# 리스트만 가능하고 튜플은 불가능
a=[1,2,3]
a[0] = 3
a[1] = 6
a[2] = 9
print(a)

# a=(1,2,3)
# a[0]=1 #immutable

[3, 6, 9]

In [63]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

## 슬라이스

In [64]:
# 굉장히 많이 쓰는 슬라이스
a =[1,2,3,4,5,6,7,8,9,10]
b=a[0:3] #0부터 3미만번째
print(b)

print(a[1:3]) #1부터 3미만
print(a[3:-1]) #마지막원소 -1 미만까지
print(a[1:7:2]) #1부터 7미만 2간격
print(a[:5]) # 0(디폴트)~ 5미만 첫번째 비우면 처음것부터
print(a[5:]) # 두번째 자리 비우면 마지막(포함)까지
print(a[:]) # 처음부터 끝까지
print(a[:7:2]) # 처음부터 7미만까지 2간격
print(a[7::2]) # 7부터 끝까지 2간격
print(a[::2])# 처음부터 끝까지 2간격
print(a[::]) # 처음부터 끝까지 1간격 a(:)과 동일
b=[[1,2],[3,4]] # 리스트 안의 리스트도 적용됨
print(b[::])
print(b[:])

[1, 2, 3]
[2, 3]
[4, 5, 6, 7, 8, 9]
[2, 4, 6]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7]
[8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [65]:
a=[1,2,3,4,5]
del a[1:3]
print(a)

[1, 4, 5]

## 딕셔너리

In [66]:
# 딕셔너리
dic1 ={"a":1,"b":2,"c":3} # 중괄호로 표현, 콜론: 이 들어감
# 키와 값의 쌍 (키:값)으로 표현, (숫자,문자 모두 가능)
# 키: 수정못함, 튜플 가능, 리스트 불가능
# 값: 튜플, 리스트 가능
print(dic1)
print(dic1["a"]) # 키를 통한 인덱싱을 통해 값을 확인
print(dic1["b"])
print(dic1["c"])

print(len(dic1)) # 딕셔너리 길이: 키를 기준으로 세거나, 쌍으로 세거나.
print(dic1.keys()) # 키만 확인
print(dic1.values()) # 값(valu)만 확인
print(dic1.items()) # 쌍을 확인

{'a': 1, 'b': 2, 'c': 3}
1
2
3
3
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

## 지퍼를 이용해 딕셔너리로 바꾸기

In [67]:
#지퍼를 이용해 키와 값을 따로 리스트로 나열해서 딕셔너리로 바꿀 수 있음
print(list(zip(["a","b","c"],[1,2,3])))
# 잘 모르겠을 때 리스트로 바꿔보면 튜플로 묶여있음
a = zip(["a","b","c"],[1,2,3])
print(dict(a))
# 튜플로 묶여있는 a를 딕셔너리로 바꿈.

[('a', 1), ('b', 2), ('c', 3)]
{'a': 1, 'b': 2, 'c': 3}

In [68]:
dic2 = {'a': 1, 'b': 2, 'c': 3, 'd':4}
dic2['a']=100; dic2['b']=200; dic2['c']=300; dic2['d']=400;
print(dic2)
dic2['e'] ='새로운 키와 밸류'
print(dic2)
print("a" in dic2)
print(100 in dic2) # 키를 기준으로 찾으므로 False

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': '새로운 키와 밸류'}
True
False

## 조건문

In [69]:
#조건문
a=5
print(a>3)
print(a<3)
print(a==5)

# 들여쓰기 tab
# 들여쓰기 되돌리기 shift+tab

print(bool(0))
print(bool("hello"))
print(bool(""))

True
False
True
False
True
False

## 반복문

In [70]:
# 반복문

for i in range(10,0,-1):
    print(i)

for i in reversed(range(10)):
    print(i)

# 모르겠을 때 리스트로 바꿔서 보기
list(reversed(range(10)))

# 리스트에 대해서 반복문 실행도 가능
a=[10,20,30,40,50]
for i in a:
    print(i)

# 보통 이런식으로 해서 쓰는데 이건 파이썬스럽지 않음
for i in range(len(a)):
    print(a[i])

10
9
8
7
6
5
4
3
2
1
9
8
7
6
5
4
3
2
1
0
10
20
30
40
50
10
20
30
40
50

In [71]:
# 문자 리스트에 대해서도 실행 가능
a=["apple","banana","carrot","berries","melon"]
for i in a:
    print(i)

b="hello"
for i in b:
    print(i)

b="hello"
for i in b:
    print(i,end="")

apple
banana
carrot
berries
melon
h
e
l
l
o
hello

## 이중for문

In [72]:
#이중 for문
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

## while 문

In [73]:
i=0
while i<5:
    print(i)
    i +=1
print("i=",i)

0
1
2
3
4
i= 5

In [74]:
i=0
while True:
    print(i)
    i += 1
    if i==5: # 무한루프 벗어나기 위한 조건
        break

0
1
2
3
4

break 사용 (디버깅용)

In [75]:
EPOCH= 10 # 딥러닝 용어
# epoch is one complete pass through the entire training dataset
# by the neural network
for i in range(EPOCH):
    print(i)
    break # 디버깅용: 한번만 실행

#  next(iter())

0

continue 로 건너뛰기

In [77]:
for i in range(10):
    if i%2==0:
        continue # 건너뛰기
        # continue 만나면 그 밑으로는 실행하지 않고,하던 반복 마저 실행
        # 따라서 여기서는 짝수일 때는 print(i)실행없이 반복문 돌아감
    print(i)

1
3
5
7
9

In [79]:
a=0
while a<10:
    a +=1
    if a%2==0:
        continue
    print(a)

1
3
5
7
9

In [87]:
# 인덱스가 0부터 시작해서 순서가 1부터 매칭이 안되서 i+1 해줌.
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i+1,"번째에",a[i],"가 들어있어요")


j=1
for i in a:
    print(j,"번째에",i,"가 들어있어요")
    j += 1

# 1부터 인덱싱을 위한 j=1 설정하는 방법

# 파이썬에서는 이를 보완하기 위한 enumerate 이 있음

1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요
1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요

## Enumerate 인덱스와 값을 쌍으로 받고, 인덱스 시작을 1로 지정가능

In [89]:
# enumerate 은 쌍으로 받음
a=[1,2,3,4,5]
for i,val in enumerate(a):
    print(i,"번째",val,"이 들어있어요")

0 번째 1 이 들어있어요
1 번째 2 이 들어있어요
2 번째 3 이 들어있어요
3 번째 4 이 들어있어요
4 번째 5 이 들어있어요

In [90]:
# enumerate 은 인덱스와 값을 쌍으로 줌
# 인덱스 시작을 1로 지정해줄수도 있음
a=[1,2,3,4,5]
for i,val in enumerate(a,start=1):
    print(i,"번째",val,"이 들어있어요")

1 번째 1 이 들어있어요
2 번째 2 이 들어있어요
3 번째 3 이 들어있어요
4 번째 4 이 들어있어요
5 번째 5 이 들어있어요

## 별찍기 반복문 과제

In [101]:
# 별찍기
#1 내코드
for i in range(5):
    print("*"*i)

#2
a =""
for i in range(4):
    a += "*"
    print(a)

#3
for i in range(5):
    for j in range(i):
        print("*",end="")
    print()
#4
i=1
while i<5:
    print("*"*i)
    i+=1

#5
i="*"
while True:
    print(i)
    i +="*"
    if i == '*****':
        break;

#6
i="*"
while i !="*****":
    print(i)
    i += '*'

*
**
***
****
*
**
***
****

*
**
***
****
*
**
***
****
*
**
***
****
*
**
***
****

## 리스트 심화

In [102]:
# 리스트 심화
# 두개의 원소를 넣어주고 싶을 때 한개씩 밖에 안되서
# 리스트로 묶어서 넣으면 그야말로, 하나의 원소로 묶여서 들어감
a =[1,2,3]
a.append([4,5])
print(a,'len(a)',len(a))

[1, 2, 3, [4, 5]] len(a) 4

In [104]:
# extend() 쓰면, 개별 원소로 넣어주기 가능
a =[1,2,3]
a.extend([4,5])
print(a,'len(a)',len(a))

[1, 2, 3, 4, 5] len(a) 5

In [105]:
# 더 간단하게 += 리스트로 넣어주면 됨
a =[1,2,3]
a += [4,5]
print(a,'len(a)',len(a))

[1, 2, 3, 4, 5] len(a) 5

In [107]:
 #insert 중간에 넣고 싶을 때
a =[1,2,3]
a.insert(1,100)
print(a,'len(a)',len(a))

[1, 100, 2, 3] len(a) 4

In [108]:
a =[1,2,3]
a.insert(1,[100,200])
print(a,'len(a)',len(a))

[1, [100, 200], 2, 3] len(a) 4

In [114]:
 #insert() 사용하지 않고 insert하기
 a=[1,2,3]
 b=[100,200]
#  a[1:2]=b # 1의 자리에 값을 무시하고 b가 삽입
 a[1:1]=b # 이 성질 이용해 1의 자리에 값 살리고 삽입(꼼수)
 print(a)

[1, 100, 200, 2, 3]

In [117]:
# pop
# 스택처럼 맨 오른쪽 부터 하나씩 out
a=[1,2,3]
a.pop()
print(a)
a.pop()
print(a)

[1, 2]
[1]

In [118]:
# pop
# 특정 인덱스 pop
a=[1,2,3]
a.pop(1)
print(a)

[1, 3]

In [123]:
#remove 는 인덱스가 아닌 인수값을 찾아서 제거.
# 중복인 경우 왼쪽부터 제거
a=[1,2,3,4,3,5,3]
a.remove(3)
print(a)
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 4, 3, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 5]

In [125]:
# 특정값이 위치한 처음 인덱스 찾기 index()
a=[1,2,3,4,3,5,3]
a.index(3)

2

In [127]:
# 특정 값의 갯수 세기 count()
a=[1,2,3,4,3,5,3]
a.count(3)

3

In [128]:
# 원소 순서 뒤집기 reverse()
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [130]:
# 정렬 sort
# 오름차순
a=[1,5,1,2,6,1,7]
a.sort()
print(a)

# 내림차순
a.sort(reverse=True)
print(a)

[1, 1, 1, 2, 5, 6, 7]
[7, 6, 5, 2, 1, 1, 1]

In [131]:
# 리스트 내용 모두 제거하기
# del은 정의 자체를 지움
a=[1,2,3]
a.clear()
print(a)

[]

In [138]:
# b[1]값만 바꾸고 싶은데 b=a 로 인해 a[1]도 바뀜
a=[1,2,3]
b=a
b[1]=10
print("a=",a,"b=",b)
# b가 a 주소값 같이 씀 동일함
a is b

a= [1, 10, 3] b= [1, 10, 3]

True

In [139]:
# copy()를 이용해 정의해야 b만 바뀜
a=[1,2,3]
b=a.copy()
b[1]=10
print("a=",a,"b=",b)
# b가 a의 값만 복사하고 주소 다름
a is b

a= [1, 2, 3] b= [1, 10, 3]

False

In [141]:
a=[1,2,3]
print(min(a))
print(max(a))
print(sum(a))
print(round(1.53423423,3))# 소수점 셋째자리까지 반올림

1
3
6
1.534

## 리스트 표현식: 코드 깔끔해짐

In [144]:
#range(5) 안의 값들을 i라는 이름으로 불러오고
# i 값으로 리스트를 만들어줌
a=[i for i in range(5)]
print(a)

# 아래 코드를 보면 계산된 i+5 값들이 쌓이는 걸 알 수 있음
a=[i+5 for i in range(5)]
print(a)

# 리스트는 쌓는것이므로 각각의 원소에 연산을 원하면 리스트 표현식 사용하면됨
[1,2,3,4,5]+[5]

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 5]

In [148]:
# 리스트 표현식 이중for문도 가능함
a = [i-j for i in range(1,5)
            for j in range(1,5)]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [149]:
# 위의 이중반복문 표현식이 기본 for문으로 표현하면 아래와 같음
a=[]
for i in range(1,5):
    for j in range(1,5):
        a += [i-j]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [151]:
# 표현식에 for, if문 같이 쓰기
# 짝수일 경우만 출력
a=[i for i in range(10) if i%2==0]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
# 아래 4줄의 코드를 위의 표현식 한줄로 간단히 표현함
a=[i]
for i in range(10):
    if i%2 ==0
     a += [i]
print(a)

##리스트 속에 리스트

In [155]:
# 리스트 안의 리스트로 하나의 요소로 묶어서 생각
a=[[1,2,3],[4,5,6]]
print(a,"len(a)=", len(a))

# 따라서 인덱싱도 마찬가지
print(a[0])
print(a[1])
print(a[0][0])
print(a[0][1])
print(a[0][2])
print(a[1][0])

a[1][1] =500
print(a)

[[1, 2, 3], [4, 5, 6]] len(a)= 2
[1, 2, 3]
[4, 5, 6]
1
2
3
4
[[1, 2, 3], [4, 500, 6]]

In [162]:
# 이중 리스트에 for문 돌릴때 출력
a=[[1,2,3],[4,5,6]]
for i in a:
    print(i)
print()

# 리스트를 분해해서 나열하고 싶을 때
# 각각의 리스트 갯수가 다를 때
#1
for i in a:
    for j in i:
        print(j,end=" ")
    print()
print()

#2 복수개를 받아서 출력
# 각각의 리스트 개수가 같을때
for x,y,z in a:
    print(x,y,z)
print()

#3 제일 파이썬스럽지 않은 코드
# 각각의 리스트 갯수가 다를 때
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j],end=" ")
    print()

[1, 2, 3]
[4, 5, 6]
1 2 3
4 5 6
1 2 3
4 5 6

In [183]:
# 빈 리스트 0으로 초기화하기
a=[]
for i in range(5):
    a.append(0)
print(a)

# 빈리스트에 2개원소로 하는 3개의 리스트 0으로 초기화
a=[]
for i in range(3):
    line=[]
    for j in range(2):
        line += [0]
    a += [line]
print(a)

# 표현식으로 나타내기
# 이중 리스트를 만들어서 직관적으로
a =[[0 for i in range(2)]for j in range(3)]
print(a)

# 인덱싱으로 추출이 필요없을 때 _로 반복만 해도 됨
a =[[0 for _ in range(2)]for _ in range(3)]
print(a)

#
a= [[0]*2 for _ in range(3)]
print(a)

#
a =[[0]*2]*3
print(a)

[0, 0, 0, 0, 0]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]

In [187]:
# 일률적이지 않은 리스트 갯수로 이루어진 리스트 만들기
a=[3,1,3,2]
b=[]
for i in a:
    line=[]
    for j in range(i):
        line+=[0]
    b+=[line]
print(b)

# 표현식 : 나중에 이런 표현식이 훨씬 간단하고 파워풀해짐
a=[3,1,3,2]
a=[[0]*i for i in a]
print(a)

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]
[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [190]:
# 이중리스트일 때 카피는?
a=[[1,2],[3,4]]
b=a.copy()
b[0][0]=100
print(b)
print(a)
# copy를 사용해도 a,b 둘다 바뀌어 있음
# deepcopy를 사용해야함

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]

In [192]:
# deepcopy()
# 리스트 안의 리스트까지 깊이 복사해줌
import copy # deepcopy()를 사용하기 위한 library import
a=[[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0]=100
print(b)
print(a)

[[100, 2], [3, 4]]
[[1, 2], [3, 4]]

## print 응용

In [1]:
a=1
b=2
c="gg"
print("a =",a,"b =",b,"c =",c)

a = 1 b = 2 c = gg

In [5]:
a=1
b=2
c="gg"
print("a ={}, b ={},c ={}".format(a,b,c))

a =1, b =2,c =gg

In [6]:
a=1
b=2
c="gg"
print("a ={0}, b ={1},c ={2}".format(a,b,c))

a =1, b =2,c =gg

In [7]:
a=1
b=2
c="gg"
print("a ={num1}, b ={num2},c ={str1}".format(str1=c,num1=2,num2=4))

a =2, b =4,c =gg

In [8]:
# 주로 f string 을 사용하는게 편함
a=1
b=2
c="gg"
print(f"a={a},b={b},c={c}")

a=1,b=2,c=gg

## 텍스트 파일 만들고 쓰기

In [10]:
# 구글 드라이브 content에 폴더 만들기
import os
folder_name="saved"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [11]:
# 생성한 폴더에 텍스트 파일 생성하고 쓰기
with open("saved/Hello.txt","w") as f:
    f.write("Hello World\n")
    f.write("Hello World\n")
    f.write("Hello World\n")

Hello World
Hello World
Hello World

In [13]:
# 문서 내용 읽기
with open("saved/Hello.txt","r") as f:
    s = f.read()
print(s)

Hello World
Hello World
Hello World

In [17]:
# 문서 내용 읽기
with open("saved/Hello.txt","r") as f:
    s = f.readline() # 한줄씩 list에 넣는다.
    print(s)
    print(len(s))

    s = f.readlines() # 모두 읽어 list에 넣음
    print(s)
    print(len(s))

Hello World

12
['Hello World\n', 'Hello World\n']
2

In [14]:
# 문서 내 3줄만 읽고 싶을 때
with open("saved/Hello.txt","r") as f:
    for i in range(3):
        s = f.readline()
        print(s)

Hello World

Hello World

Hello World

In [20]:
# 라인이 몇줄인지 모를때
with open("saved/Hello.txt","r") as f:
    line= None # None으로 해야 공백("")과 구별되어 while문이 돈다.
    while line !="": # 공백이 아니면 읽기
        line= f.readline()
        print(line,end="")

Hello World
Hello World
Hello World

## 코딩의꽃 함수

In [ ]:
# x라는 이름의 변수를 입력으로 받아 x^2을 출력하는 f라는 함수를 정의하라
def f(x):
    return x**2

call by assingment

| 언어      | 전달방식                                            | 특징         |

| ---------- | ---------------------- | ------------------------- |

| **C**      | Call by value  | 변수의 값을 복사해서 전달함 |

| **Java**| Call by value (of object reference) | 객체의 **참조 값**을 복사해서 전달함 |

| **C++** | Call by value / reference (선택 가능) | `&`를 붙이면 참조로 전달 가능|

| **Python** | Call by assignment (또는 call by object reference) | 객체 참조를 전달하되, 변수 바인딩은 지역적임 |

In [ ]:
# call by assignment
# modify_list 함수에 전달되 lst는 이 객체에 대한 참조를 받음
# 함수 안에서 lst.append(100) 하면 실제 원본 객체가 수정됨
def modify_list(lst):
    lst.append(100)

my_list = [1, 2, 3]
modify_list(my_list)
print(my_list)  # [1, 2, 3, 100]

In [ ]:
# call by assignment :
# immutable 한 int는 기존 객체 수정하는게 아니라 새로운 객체를 만들고 n이 그것을 가리킴
def modify_number(n):
    n += 10

x = 5
modify_number(x)
print(x)  # 5

In [22]:
#immutable 한 int 에 대한
def f(a):
    a=5
a=3
f(a)
print(a)

#mutable 한 list에 대한
def f(x):
    x[0]=5
a=[1,2]
f(a)
print(a)

3
[5, 2]

In [27]:
# 복수의 출력값을 내는 함수 (c에선 하나의 값만 return 가능)
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d

y=add_sub(1,2) # 하나로 받으면 튜플로 묶어서 줌
print(y)

(3, -1)

In [28]:
def add(a,b):
    return a+b
def mul(a,b):
    return a*b
def show_addmul(a,d):
    print(add(a,d))
    print(mul(a,d))

show_addmul(10,20)

30
200

In [32]:
# 언패킹 *
x=(10,20)
print(x)
print(*x) # 언패킹
# 인자가 두개 필요한 함수를 호출시 튜플을 전달하면,
# 묶여서 하나의 인자로 인식됨.
# 이 때 * 앞에 붙여 언패킹 해주면 튜플이 풀려서 두개의 인자로 들어감
# show_addmul(x)
show_addmul(*x)

x=10,20 # 이렇게 하면 파이썬에서 튜플로 묶어버림
print(x)
show_addmul(*x) #다시 언패킹 해줘야 함

(10, 20)
10 20
30
200
(10, 20)
30
200

In [42]:
def fun(a):
    print(f"a 는 {a}가 들어가 있다. 타입은 {type(a)}이다.")

fun(1)

# 인자를 *a 로 받으면 튜플로 받아서 여러개 받을 수 있음
# 즉 언패킹으로 받으니 a는 패킹된 튜플이라는 것
def fun(*a):
    print(f"a 는 {a}가 들어가 있다. 타입은 {type(a)}이다.")

fun(1,2,3,4,5)

# 받은 인자의 값을 하나씩 확인
def fun(*args): # args : aguments
    print(f"a 는 {args}가 들어가 있다. 타입은 {type(args)}이다.")
    for i in args: # 받은 인자의 값을 하나씩 확인
        print(i)
fun(1,2,3,4,5)

a 는 1가 들어가 있다. 타입은 <class 'int'>이다.
a 는 (1, 2, 3, 4, 5)가 들어가 있다. 타입은 <class 'tuple'>이다.
a 는 (1, 2, 3, 4, 5)가 들어가 있다. 타입은 <class 'tuple'>이다.
1
2
3
4
5

In [49]:
def introduce1(name,age,address):
    print(f"이름은 {name}이고, 나이는 {age}, 사는곳은 {address}이다.")

# 디폴드값 설정할 때 디폴드값은 뒤쪽에 넣어야 함,
#def introduce2(age="비밀",name,address="비밀"): 이건 에러남

def introduce2(name,age="비밀",address="비밀"): # 디폴드값 설정
    print(f"이름은 {name}이고, 나이는 {age}, 사는곳은 {address}이다.")

def introduce3(name="비밀",age="비밀",address="비밀"): # 디폴드값 설정
    print(f"이름은 {name}이고, 나이는 {age}, 사는곳은 {address}이다.")

name="len"
age=100
address="korea"
introduce1(name=name,age=age,address=address)
#introduce1(name=name,age=age) # 에러:디폴드값 없어서 인자로 모두 전달해야 함
introduce2(name=name,age=age)
introduce2(name=name)
# introduce2(age=age) # 디폴드값 없는 name 값을 전달하지 않아 에러
introduce3()

이름은 len이고, 나이는 100, 사는곳은 korea이다.
이름은 len이고, 나이는 100, 사는곳은 비밀이다.
이름은 len이고, 나이는 비밀, 사는곳은 비밀이다.
이름은 비밀이고, 나이는 비밀, 사는곳은 비밀이다.

In [66]:
# 인자를 dict 로 받기
# def fun(**a):
#     print(f"a 는 {a}가 들어가 있다. 타입은 {type(a)}이다.")

# fun(a=1, b=2, c=3)

d={"name":"len","age":2,"address":"korea"}
print(d)
print(*d)
introduce3(*d)
print({**d})
# ** 은 언팩킹을 두번 한 것으로 리스트,튜플에는 안됨.
# 딕셔너리에만 가능
introduce3(**d) #introduce3(name="len",age=2,address="korea")와 동일
print(*(1,2,3))
#print(**(1,2,3))# ** 은 언팩킹을 두번 한 것으로 튜플은 안됨.

{'name': 'len', 'age': 2, 'address': 'korea'}
name age address
이름은 name이고, 나이는 age, 사는곳은 address이다.
{'name': 'len', 'age': 2, 'address': 'korea'}
이름은 len이고, 나이는 2, 사는곳은 korea이다.
1 2 3

In [73]:
# ** 언패킹 예시
def my_fuc(**kwargs): # kwargs : keywords arguments
    print(f"kwargs에는 {kwargs}가 들어가 있다. 타입은 {type(kwargs)}이다.")

my_fuc(name="len",age=2,address="korea")

kwargs에는 {'name': 'len', 'age': 2, 'address': 'korea'}가 들어가 있다. 타입은 <class 'dict'>이다.

In [75]:
def introduce(**kwargs):
    if 'name' in kwargs:
        print(f"My name is {kwargs['name']}")
    if 'age' in kwargs:
        print(f"My age is {kwargs['age']}")
    if 'address' in kwargs:
        print(f"I live in {kwargs['address']}")

introduce(name="len", age=2, address="korea")
introduce(name="len") # 아깐 안 주면 비밀로 떴는데 여기선 아예 안뜸

My name is len
My age is 2
I live in korea
My name is len

## 재귀함수

In [76]:
# 함수 안에서 자기 자신을 호출하는 것을 재귀함수라 함
# 이렇게 사용하면 while문 처럼 무한루프
def say():
    print("Hello world")
    say()

#say()

In [77]:
def say(count):
    if count == 0:
        return # return을 만나면 함수가 종료
    print("Hello World")
    count -= 1 # count = count - 1
    say(count)

say(3)

Hello World
Hello World
Hello World

## 로컬변수와 글로벌변수

In [3]:
# 글로벌 변수
EPOCH =2 # 전체 데이터 2번 반복해서 봄
BATCH =5 # 5개씩 꺼내본다는 뜻

def train(weight): #weight는 매개변수, 여기서 weight=0을 실행
    x=1 # x는 지역 변수
    for i in range(EPOCH):
        for j in range(BATCH):
            print(f"{i}번째 epoch이고, {j}번째 batch 이다.")
            weight += 1
    return weight

train(0)
#print(x) # 함수내 지역변수이므로 함수 밖에서 호출하면 정의되어 있지 않다고 나옴

0번째 epoch이고, 0번째 batch 이다.
0번째 epoch이고, 1번째 batch 이다.
0번째 epoch이고, 2번째 batch 이다.
0번째 epoch이고, 3번째 batch 이다.
0번째 epoch이고, 4번째 batch 이다.
1번째 epoch이고, 0번째 batch 이다.
1번째 epoch이고, 1번째 batch 이다.
1번째 epoch이고, 2번째 batch 이다.
1번째 epoch이고, 3번째 batch 이다.
1번째 epoch이고, 4번째 batch 이다.

10

In [4]:
x=10
def f():
    x=100
    print(x)

f() # 로컬변수 출력
print(x) # 글로벌 변수 출력

100
10

In [5]:
x=10
def f():
    global x # 글로벌 변수x 사용
    x=20 # 글러벌 변수가 바뀜
    print(x)

f()
print(x)# 글러벌 변수가 바뀜

20
20

## 람다 표현식
함수를 짧게 표현한 식

In [6]:
def plus_ten(x):
    return x+10
plus_ten(10)

20

In [10]:
# 위의 함수를 람다식으로 짧게 표현
plus_ten = lambda x: x+10
plus_ten(10)

# 이름없는 함수에 10을 넣어 호출
(lambda x: x+10)(10)

20

In [15]:
#map 함수를 입력으로 받음
plus_ten= lambda x:x+10

print(list(map(plus_ten,[1,2,3]))) #입력받은 함수를 리스트 원소에 각각 적용시켜줌
print(list(map(lambda x:x+10,[1,2,3]))) # 직접 람다식 넣음

[11, 12, 13]
[11, 12, 13]

In [18]:
# 입력 2개
f = lambda x,y:x+y
print(f(1,2))

a=[1,2,3]
b=[4,5,6]
print(list(map(lambda x,y:x*y,a,b)))

3
[4, 10, 18]

In [19]:
def add_1(a,b):
    c=1
    return a+b
print(add_1(1,2))

# 이 경우 함수내 변수선언 c=1 가 필요한데 람다식은 변수선언은 할 수 없어서
# 람다식으로 표현 불가능
#add_1 = lambda a,b c=1: a+b+c

3

In [23]:
def func(x):
    if x%2==0:
        return x*2
    else:
        return x

print(list(map(func,[1,2,3,4])))

# 람다 표현식에서는 if , else 반드시 쌍으로 써야 함
f = lambda x: x*2 if x%2==0  else x
print(list(map(f,[1,2,3,4])))

[1, 4, 3, 8]
[1, 4, 3, 8]

In [24]:
def func(x):
    if x%2==0:
        return x*2
    elif x==2:
        return x*3
    else:
        return x
print(list(map(func,[1,2,3,4])))

f= lambda x: x*2 if x%2==0 else (x*3 if x==2 else x)
print(list(map(f,[1,2,3,4])))

[1, 4, 3, 8]

## 클래스

In [36]:
# 객체 지향 프로그래밍
#로봇을 만든다고 하자 -> 로봇 키, 무게, 안녕이라고 인사
# Robot 이라는 기능을 나타내는 class

#__init__ 메서드가 없는 class 는
# 인스턴스 생성 즉시 initialize 되지 않음
class Robot:
    def greetings(self): # 클래스내 함수는 메서드라고 함
        print("hi")

bot1 = Robot() # Robot 클래스의 인스턴스 생성
# bot1.greetings()

In [38]:
# Class의 인스턴스 생성시 자동실행(init)위한 __init__ 함수 세팅
# __init__ 있는 class 는 인스턴스 생성 즉시 init()메서드로 들어간다.
class Robot:
    # 클래스 내에 자기자신을 첫번째 매개변수로 받음 (class 내에서만 사용)
    # initialize 라서 인스턴스 생성 즉시 이 함수 실행됨
    #__init__ 은 약속된 함수명으로 꼭 똑같이 적어야 함(special method)
    # 만든 동시에 initialize 하고 싶다면 사용해서 세팅함
    def __init__(self, name, weight):
        self.name = name
        self.weight = weight
        print("여기로 바로 들어옴")
    def greetings(self): # 클래스내 함수는 메서드라고 함
        print("hi, I am " + self.name)

# Robot 클래스를 실체화하는 인스턴스 생성

bot1 = Robot("nara",23) # Robot 클래스의 인스턴스 생성과 동시 __init__함수 실행됨
# bot1.greetings() # 클래스 인스턴트 내에 있는 greetings 메서드를 호출

여기로 바로 들어옴

In [31]:
# a=[1,2,3] # 사실 이 a list 도 클래스 기반, a 가 인스턴스 생성한 상황
a.append(4) # 인스턴스 a의 append() 메서드를 실행함
print(type(a))

<class 'list'>

In [41]:
# class 에 __init__ 함수 실행시 속성 저장하기
class Robot:
    def __init__(self):
        self.sentence = "안녕"
        # Robot의 주머니(self)에 sentence라는 변수명을 만듦.
        # self는 만들어진 인스턴스 자기자신 자체를 가리킴
        # self.somthing은 self내부의 것(변수,함수)를 가리킴
        # 클래스 내부의 변수는 속성(attribute)라고 함

    def greetings(self):
        #print(sentence) # 없다고 에러뜸
        print(self.sentence) # self 주머니에서 sentence를 꺼낸다.

bot1 = Robot()
bot1.greetings()

안녕

In [48]:
# class 밖에서 전달받은 인수에 이름을 붙여서 self 주머니에 넣기
class Robot:
    def __init__(self, name, height, sentence):
        # 클래스 내부에서 쓰기 위해
        # __init__ 실행되는 동안 self주머니에 차곡차곡 넣는것이다.
        self.name = name
        self.height = height
        self.sentence = sentence

    def greetings(self): # __init__함수에서 self 주머니에 넣은것을 공유함
        print(self.sentence) # self 주머니에서 꺼내쓰기
        print(f"제 키는 {self.height}이에요")

bot1 = Robot("nara",23,"안녕") # 인스턴스 생성
bot1.greetings() # bot1내의 greetings 메서드 실행

print(bot1.sentence) # 속성(attribute)을 확인하기
print(bot1.height)
bot1.height -= 10 # 키를 10 줄임
bot1.greetings()

bot2 = Robot("cloud",44,"hello")
bot2.greetings()

안녕
제 키는 23이에요
안녕
23
안녕
제 키는 13이에요
hello
제 키는 44이에요

In [54]:
# 위에서 로봇 키를 10센치 줄였는데,
# 이번에는 class 내의 속성을 변경하지 못하게 만들기
# 비공개(private) 만들고 싶은 속성 앞에 __ 붙이면 됨
class Robot:
    def __init__(self, name, height, sentence):
        # 클래스 내부에서 쓰기 위해
        # __init__ 실행되는 동안 self주머니에 차곡차곡 넣는것이다.
        self.name = name
        self.__height = height
        self.__height -= 10 # 클래스 안에서는 변경가능
        self.sentence = sentence

    def greetings(self): # __init__함수에서 self 주머니에 넣은것을 공유함
        print(self.sentence) # self 주머니에서 꺼내쓰기
        print(f"제 키는 {self.__height}이에요")


bot1 = Robot("nara",23,"안녕")
bot1.greetings()

print(bot1.sentence) # 속성확인됨
#print(bot1.__height) # 비공개라 안보임
# bot1.__height -= 10 # 접근도 안됨 class 안에서는 할 수 있음
bot1.greetings()

안녕
제 키는 13이에요
안녕
안녕
제 키는 13이에요

In [55]:
# 상속 -> 효율화
class Robot:
    def greetings(self):
        print("로봇입니다.")

class study_bot(Robot): # Robot 클래스 상속받음
    def study(self):
        print("공부하는 로봇입니다.")

study_bot1 = study_bot()
study_bot1.greetings() # study_bot 클래스에는 없는 메서드지만 상속받아서 실행 가능함
study_bot1.study()

안녕
공부하자

In [57]:
# 메서드 오버라이딩 (overriding)
# 상속받은 메서드 덮어쓰기
class Robot:
    def greetings(self):
        print("로봇입니다.")

class study_bot(Robot): # Robot 클래스 상속받음
    def greetings(self):
        # 부모의 greetings을 물려받았으나 여기서 다시 정의하면 덮어써버림
        print("공부하는 로봇입니다.")

study_bot1 = study_bot()
study_bot1.greetings() # study_bot 클래스에는 없는 메서드지만 상속받아서 실행 가능함

공부하는 로봇입니다.

In [58]:
# 메서드 오버라이딩 (overriding)
# super() 부모기능 유지하면서 덧붙이고 싶을때 오버라이딩 기능 사용

class Robot:
    def greetings(self):
        print("로봇입니다.")

class study_bot(Robot):
    def greetings(self):
        super().greetings()
        # super()가 부모 클래스를 가리킴/ 부모의 것을 사용가능하게 함
        print("공부하는 로봇입니다.")

study_bot1 = study_bot()
study_bot1.greetings()

안녕
공부하는 로봇입니다.

In [60]:
# 부모의 속성(attribute) 가져오기
class Robot:
    def func1(self):
        print("부모 클래스의 func1 실행")
        self.money =100

# 부모 함수 실행한 후에 부모 속성을 가져올 수 있다.
class Study_bot(Robot):
    def func2(self):
        print("자식 클래스의 func2 실행")
        self.book = 10

study_bot1 = Study_bot()
study_bot1.func1()
#func1 을 물려받으려면 먼저 실행이 되어야 함
# 실행이 되어야 self 주머니에 money 100을 담음
# 그런 다음 Study_bot 이 money 물려받을 수 있음
study_bot1.func2()
print(study_bot1.money)
print(study_bot1.book)

부모 클래스의 func1 실행
자식 클래스의 func2 실행
100
10

In [66]:
# 딥러닝 코드에서는 아래와 같은 코드를 많이 보게 됨
# 부모/자식 클래스가 init 메서드가 있어서 인스턴스 만드는 동시에 실행됨
# 하지만 클래스 각각이 실행되어 서로의 속성의 존재는 알 수 없음
# super().__init__() 사용해서 해결

class Robot:
    def __init__(self):
        print("부모 클래스의 init실행")
        self.money = 100
#*********************************
class Study_bot(Robot):
    def __init__(self):
        super().__init__()
#*********************************
        # 윗 박스 안의 부분의 습관적으로 짜야 함.
        # 이 부분을 해주어야 money 상속됨
        print("자식 클래스의 init실행")
        self.book = 10

bot_parent = Robot()
print(bot_parent.money)

bot_child = Study_bot()
print(bot_child.book)
print(bot_child.money)
#super().__init__() 코드 없이는 서로의 클래스의 속성의 존재를 모름

부모 클래스의 init실행
100
부모 클래스의 init실행
자식 클래스의 init실행
10
100

In [74]:
# 이번에는 자식 class 의 __init__ 메서드를 없앰
# 자식 class 실행했을 때 __init__이 없으면
# 상속받은 부모 클래스에 init 이 자동 호출됨

class Robot:
    def __init__(self):
        print("부모 클래스의 init실행")
        self.money = 100

class Study_bot(Robot):
    def func2(self):
        print("자식 클래스의 init실행")
        self.book = 10

bot1 = Study_bot()
bot1.func2()
print(bot1.money)
print(bot1.book)
#Study_bot 클래스에는 __init__이 없으므로
#bot1.func2() 실행후 확인가능

부모 클래스의 init실행
자식 클래스의 init실행
100
10

In [79]:
# 두개의 클래스에서 상속받고 싶을 때
class Robot:
    def greeting(self):
        print("로봇입니다.")

class Life:
    def rest(self):
        print("쉬기도 해요")

class Study_bot(Robot,Life):
    def study(self):
        print("공부하는 로봇입니다.")

study_bot = Study_bot()
study_bot.greeting()
study_bot.rest()
study_bot.study()

로봇입니다.
쉬기도 해요
공부하는 로봇입니다.

In [82]:
## 지양해야 할 애매한 다이아몬드 상속
class A:
    def greeting(self):
        print("A")

class B(A):
    def greeting(self):
        print("B")

class C(A):
    def greeting(self):
        print("C")

class D(B,C):# 가장 왼쪽 것의 greeting을 사용함
    def __init__(self):
        print("D생성")

x=D()
x.greeting()

D생성
B

# 이터레이터

In [85]:
a=[1,2,3]
a_it = iter(a) # 리스트를 이터레이터로 바꿈
print(type(a_it)) # 리스트_이터레이터 타입
print(next(a_it)) # next로 하나씩 꺼내기
print(next(a_it))
print(next(a_it))

<class 'list_iterator'>
1
2
3

In [86]:
# for 문에서도 사용가능
for i in iter([1,2,3]):
    print(i)

1
2
3

In [87]:
# 자주 사용하는 예시
# 데이터가 많을 때 iter로 바꾸고, next 하면 한숟갈 떠 볼 수 있음
# 리스트가 아닌 경우 iter로 바꿀 수도 있음
a =[1,2,3]
a_i=next(iter(a))
print(a_i)

1